@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* inicio section ourblog */

main {
    padding-top: 100px;
}

main #ourblog .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    padding: 20px 10px;
    cursor: pointer;
}

main #ourblog .grid:hover {
    transform: scale(1.1em);
}

main #ourblog .grid figure {
    position: relative;
    display: flex;
}

main #ourblog .grid .fecha {
    position: absolute;
    background-color: var(--colorSecundario);
    width: 70px;
    height: 70px;
    opacity: 0.9;
    border-top-left-radius: 50px;
}

main #ourblog .grid .fecha p {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    font-size: 1.1em;
    overflow: hidden;
}

main #ourblog .grid h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

main #ourblog .grid h4 {
    color: var(--colorSecundario);
    font-weight: 700;
    padding: 10px 0px 10px 0px;
    font-size: var(--fontsize);
}

main #ourblog .grid .text {
    margin: calc(var(--margingrid) - 9px);
    line-height: 1.5;
    padding: 15px 0;
}

main #ourblog .grid .text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #777;

}

main #ourblog .grid article {
    border: 1px solid #aaa;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

main #ourblog .grid img {
    transition: transform 0.1s ease;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

main #ourblog .grid img:hover {
    transform: scale(1.1);
}


/* OUR BLOG TITTLE */

#ourblog h2 {
    color: black;
    font-size: 30px;
    font-family: 'Handlee', cursive;
    letter-spacing: 0;
    margin-bottom: 0;
    text-align: center;
}

#ourblog span {
    color: var(--colorSecundario);
}

.underline {
    position: relative;
    width: 6.250em;
    margin: 0 auto;
    color: var(--colorSecundario);
    font-weight: 700;
    padding-bottom: 15px;
}

.underline hr {
    border-color: var(--colorSecundario);
    position: absolute;
    width: 100%;
    top: -4px;
    border-width: 2px;
}

.underline span {
    text-align: center;
    display: block;
}

/* FLECHA */

.flecha a {
    display: block;
    color: var(--colorSecundario);
    position: relative;
    bottom: 10px;
    right: 10px;
    font-size: 250%;
    display: flex;
    text-decoration: none;
    justify-content: right;
}

.flecha i {
    padding-right: 10px;
}

/* fin section our blog */


/* medias querys */

@media(min-width: 990px) {
    main #ourblog .grid {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
    main #ourblog .grid {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 767px) {}