<div id="parallax-world-of-ugg">

    <section>
        <div class="title">
            <!-- <h3>Let's do some</h3>
            <h1>PARALLAX</h1> -->
            <img class="logo" src="../../../assets/images/logo.svg" alt="">
        </div>
    </section>

    <section>
        <div class="parallax-one">
            <h2>LA PERLA NEGRA</h2>
        </div>
    </section>

    <section id="ourservices">
        <div class="block">
            <h2>Our <span>Services</span></h2>
            <div class="underline">
                <hr noshade="noshade">
                <span>X</span>
            </div>

            <div class="grid">
                <article>
                    <div>
                        <i class="fa-solid fa-fish"></i>
                    </div>
                    <h3>1. Producto Fresco</h3>
                    <p>Nos enorgullecemos de traer directamente del mercado de abastos de Mercamadrid los productos más
                        selectos y frescos del mar para deleitar tu paladar.</p>
                </article>

                <article>
                    <div>
                        <i class="fa-solid fa-fire-burner"></i>
                    </div>
                    <h3>2. Cocina Tradicional</h3>
                    <p>Cada bocado te transportará a la esencia de la cocina tradicional, que te harán sentir como en
                        casa. ¡Te invitamos a disfrutar de los
                        sabores clásicos que nunca pasan de moda!</p>
                </article>

                <article>
                    <div>
                        <i class="fas fa-heart"></i>
                    </div>
                    <h3>3. Compromiso Sostenibilidad</h3>
                    <p>Utilizamos productos locales y de pesca respetuosa. Saborea nuestros platos con la tranquilidad
                        de que cada bocado es una elección
                        responsable por el bienestar de
                        nuestro planeta.</p>
                </article>
            </div>

        </div>
    </section>

    <section>
        <div class="parallax-two">
            <h2>SABOR A MAR</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character">D</span>escubre el sabor a mar que te transportará a un viaje
                culinario único en nuestra Taberna Marinera. Sumérgete en
                la frescura y autenticidad de cada plato, donde los productos del océano son el corazón de nuestra
                cocina tradicional.
                Desde las suculentas gambas hasta las exquisitas ostras, cada bocado es una experiencia sublime que
                despierta tus
                sentidos y te conecta con la esencia misma del mar. Nuestro compromiso con la sostenibilidad garantiza
                que cada elección
                culinaria sea un acto de amor hacia nuestro planeta. Ven y disfruta de una cocina llena de pasión,
                sabores y recuerdos
                inolvidables, en un ambiente acogedor que te hará sentir como en casa. ¡Te esperamos para compartir
                contigo los secretos
                mejor guardados del mar!</p>
        </div>
    </section>

    <section>
        <div class="parallax-three">
            <h2>TABERNA MARINERA</h2>
        </div>
    </section>

    <section id="ourservices">
        <div class="block">

            <h2>Our <span>mission</span></h2>
            <div class="underline">
                <hr noshade="noshade">
                <span class="pb-4">X</span>
            </div>

            <p><span class="first-character">T</span>rabajamos arduamente para garantizar que cada ingrediente
                utilizado en nuestros platos sea seleccionado cuidadosamente,
                proveniente de fuentes sostenibles y con el sello de frescura que nos caracteriza. Nuestra pasión por la
                cocina
                tradicional y el amor por el mar se reflejan en cada creación culinaria, que busca despertar emociones y
                dejar un
                recuerdo imborrable en el paladar de quienes nos visitan. Además, nos esforzamos por mantener precios
                competitivos sin comprometer la calidad, para que cada persona pueda
                disfrutar de una experiencia gastronómica inolvidable sin preocuparse por su presupuesto. Nuestra misión
                es crear un ambiente acogedor y familiar, donde cada cliente se sienta bienvenido y valorado, y donde
                cada visita sea una experiencia que trascienda lo gastronómico, conectando con la esencia misma del mar
                y sus tesoros.
            </p>
        </div>
    </section>

    <section id="ourmission">
        <hr>
        <div class="block pt-0">
            <div class="flex">
                <figure>
                    <div class="marco">
                        <img src="https://images.unsplash.com/photo-1577106263724-2c8e03bfe9cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                            alt="nuestro cocinero">
                    </div>
                </figure>
                <div>
                    <h4 class="pb-2">Bueno es el cocinero que sabe soplar su propio caldo.</h4>
                    <p class="pt-2">Recuerda que un verdadero experto en la cocina es capaz de dar vida a sus
                        creaciones con un toque personal. Un chef
                        habilidoso conoce los secretos de cada plato y cómo realzar su sabor con un soplo de pasión.</p>
                    <div class="boton">
                        <button class="btn btn-info" [routerLink]="['/carta']">Carta</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="flecha">
        <a href="../home#top">
            <i class="fas fa-caret-square-up"></i>
        </a>
    </div>
</div>