<main>

    <section class="hero">

        <div class="video">
            <video src="../../../assets/images/Gambas.mp4" autoplay loop></video>
            <h1>Comer bien, vivir mejor.</h1>
        </div>

    </section>

    <section id="aboutus">
        <h2>About <span>Us</span></h2>
        <div class="underline">
            <hr noshade="noshade">
            <span class="pb-4">X</span>
        </div>
    </section>

    <section id="history">

        <div class="container">
            <div class="history">
                <h2>Our History</h2>
                <p><span class="first-character">N</span>uestra historia comenzó en los vibrantes años 70 con la
                    apertura de una pequeña pescadería en el
                    corazón del bullicioso
                    mercado de las ventas de Madrid. Durante más de cuatro décadas, hemos sido apasionados por ofrecer a
                    nuestros clientes lo
                    mejor del mar: pescados y mariscos frescos, recién traídos de la lonja. Desde aquellos humildes
                    comienzos, hemos crecido y evolucionado, pero nuestra dedicación a la calidad y a la auténtica
                    cocina marinera nunca ha cambiado. Nuestro compromiso con la frescura y la excelencia
                    nos ha permitido ganarnos la confianza y el cariño de
                    generaciones de clientes, convirtiéndonos en un referente en la escena culinaria de la ciudad.</p>
            </div>
            <div class="aboutusFoto">
                <img src="../../../assets/images/AboutUs.png" alt="">
            </div>
        </div>

    </section>

    <section id="logros">

        <div class="container">
            <div class="logros">
                <h2>En el mar, la vida es más sabrosa, donde las olas susurran secretos y el horizonte promete aventuras
                    sin fin.
                </h2>
                <p>Hoy, orgullosos de nuestro legado marino y guiados por la pasión que nos inspira cada día, hemos dado
                    un paso más allá.
                    Nuestra pequeña pescadería se ha convertido en un acogedor restaurante marisquería, donde cada plato
                    es una experiencia
                    que deleita los sentidos y transporta a nuestros comensales a las profundidades del océano. Nuestra
                    misión es seguir llevando la esencia del mar a cada rincón de nuestro restaurante, compartiendo su
                    magia y
                    encanto con todos aquellos que nos eligen. En La Perla Negra, nuestro compromiso con la excelencia y
                    la pasión por el
                    mar continúa, y siempre será el corazón de nuestra historia. ¡Bienvenidos a una experiencia marina
                    única y memorable!</p>
            </div>
        </div>
        <div class="underline">
            <hr noshade="noshade">
            <span class="pb-4">X</span>
        </div>

    </section>

    <section id="logros">
        <div class="container">
            <div class="logrosGrid">
                <article>

                    <h3>50 Años en el Sector</h3>
                    <p>50 años de experiencia en el sector, saboreando cada momento y perfeccionando la magia del mar,
                        nuestra trayectoria habla por sí misma.</p>

                </article>
                <hr class="hr">

                <article>

                    <h3>Miles de Clientes Satisfechos</h3>
                    <p>A lo largo de estas 5 decadas, la satisfacción de nuestros clientes es la mayor recompensa para
                        nuestro arduo trabajo y
                        dedicación durante todos
                        estos años.</p>
                </article>
                <hr class="hr">

                <article>

                    <h3>Comercio Tradicional</h3>
                    <p>En un mundo en constante cambio, nuestro comercio tradicional ha resistido el paso del tiempo
                        como un faro de
                        autenticidad y calidez.</p>
                </article>
            </div>
        </div>
    </section>

    <section id="aboutLast">

        <div class="block pt-3">
            <div class="flex container">
                <figure>
                    <div class="marco">
                        <img src="../../../assets/images/AboutUs2.png" alt="nuestra cigala">
                    </div>
                </figure>
                <div class="texto">
                    <h4 class="pb-2">El mar es como un vasto caldero donde se cocinan los secretos de la naturaleza..
                    </h4>
                    <p class="pt-2">Pero más allá de su generosidad gastronómica, el mar es también un espejo que
                        refleja nuestra esencia, nuestras
                        emociones y nuestro espíritu aventurero. Sus aguas agitadas pueden simbolizar nuestras luchas
                        internas, mientras que sus
                        momentos de calma y serenidad nos invitan a la reflexión y la paz interior.</p>
                    <div class="redes">
                        <ul class="social">
                            <li>
                                <a href="http://www.facebook.com" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.instagram.com">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="flecha">
        <a href="../about#top">
            <i class="fas fa-caret-square-up"></i>
        </a>
    </div>
</main>
<p>about works!</p>