/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    scroll-behavior: smooth;
}

/* VARIABLES */
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Montserrat', sans-serif;
    --colorPrincipal: #21242e;
    --colorSecundario: #10d4f7;
    --fontsize: 1em;
    --margingrid: 1em;
}